@font-face {
  font-family: IRANSans !important;
  font-style: normal;
  font-weight: normal;
  src: local("IRANSans"), url("./fonts/IRANSansWeb.ttf") format("truetype");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
